*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{

background-color: rgb(0, 0, 0);
color: white;
font-family:'Poppins',sans-serif ;
line-height: 2.5rem;



}


section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
  
}

.section-title {
  padding-bottom: 30px;
}

nav{
     display: flex;
     justify-content:space-around ;
     align-items: center;
     height: 40px; 
     
     padding: 5px;
     margin-right: 45px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(31, 30, 30);
  color:rgb(164, 48, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1000;

}


.logo a {
  color:rgb(177, 235, 61);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  
}

.logo a span{
  font-family: 'Clicker Script' , cursive;
  font-size: 32px;
  padding: 2px;
}

/* .menu-toggle {
  display: none;
  cursor: pointer;
} */

/* .nav {
  list-style: none;
  display: flex;
} */


.row
{
  display: flex;
  flex-wrap: wrap;
  margin-left:10px ;
  
  position: relative;

  margin-top: calc(-1 * 1.5);
  margin-right: calc(-.5 * 1.5);
  margin-left: calc(-.5 * 2.5);

}


.nav ul{
  float: right;
  margin-right: 40px;
}
.nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;

}

.nav li a {
  color:rgb(177, 235, 61);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 10px;
}

.nav ul a:hover, .nav ul a.active{
  color:rgb(250, 228, 27);
}
.menu-toggle i{
  display: none;
  color: wheat;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right:40px ;
  margin-right: 40px;
  cursor: pointer;
  
}
.nav li .buttons {
  
  height: 50px;
  background: var(--bg-black-1);
}
@media screen and (max-width: 1048px) {
  .logo{
    font-size: 20px;
    padding-left:60px ;
  }
 .nav ul{
    margin-right: 20px;
    
  }
  .nav a{
    font-size: 17px;
  }
}
@media screen and (max-width: 990px)
{
  .menu-toggle i{
    display: block;
  }
  .nav ul{
    position: fixed;
    width: 130px;
    height: 100vh;
    background:rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    top: 100px;
    right: -100%;
    text-align: center;
    transition: all .5s;
  }
  .nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

  }
  .nav ul li a{
    font-size: 20px;
  }
  a.active,a:hover{
    color: #504e70;
  }
   .nav ul.show{
    right: 0;
  } 
 
}


 .social-links {
  margin-top: 40px;
  display: flex;
  margin-left: 100px;
}

 .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-links a:hover {
  background: #5a5365;
}

@media (max-width: 992px) {
 

  .social-links {
    margin-top: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 10px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color:rgb(214, 171, 41);
}

/* Header Top */

/* 
 .social-links
{
  display: none;
} */


/* .container {
  display: flex;
  align-items: center;
}

 .navbar {
  margin: 0;
} */


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/


.btn{
  background-color: #383f41; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1rem;
}
   .btn:hover{
    background-color: rgb(53, 51, 71);
    box-shadow: 10px 10px 10px rgba(194, 57, 57, 0.15) ;
    
    }


.aa:hover{
  color: #c9e2f9;

}
.active{
  color: #c9e2f9;
}
.home{

 display: flex;
 justify-content: space-around;
 margin:23px 0;
 padding: 150px; /* Adjust the padding to create the desired gap */
 margin-bottom: 200px; 



}

.leftsection{
 color: #e0850e;
 border: none;
 border-radius: 2px;
 cursor: pointer;
 margin-right: 8px;
 margin-top: 100px;
 text-align: center;
 font-size: 2rem;
}

.rightsection{

margin-top: 35px;
}
.roundimg {
border-radius: 50%;
height: 400px;
}


.clr{
color: yellow;
}

.git:hover{
background-color: rgb(203, 230, 235);
color: rgb(102, 126, 153);
box-shadow: 10px 10px 10px rgba(48, 2, 2, 0.15) ;

}
.git{
background-color: rgb(126, 142, 162);
color: beige;
border-radius: 3rem;
border: all 1px solid;
padding: 5px;
cursor:pointer;
margin-right: 1px;
}

.fb{
border-radius: 50%;
}
.fb:hover{
background-color: rgb(236, 236, 252);
}
#element{
color: blueviolet;
}

.secondsection{

max-width: 80vw;
margin: auto;
}
.secondsection{


background-color:rgb(47, 3, 33) ;
padding: 150px; /* Adjust the padding to create the desired gap */
margin-bottom: 150px; 

}

.social-media a{

display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
background: transparent;
border: .2rem ;
border-radius: 50%;
font-size: 2 rem;
color: blanchedalmond;
margin: 3 rem 1.5;
transition: .5s;
}

.social-media a:hover{
background-color:  rebeccapurple;
color:pink;
box-shadow: 0 0 0.5rem var(--main-color);

}


.btnn1{
 background-color: rgb(176, 40, 122);
 border-radius: 10%;
 border: none;
 cursor:pointer;
 position: flex;
padding: 5px;
}
.btnn1:hover{
background-color: rgb(16, 13, 86);
box-shadow: 10px 10px 10px rgba(8, 200, 234, 0.15) ;

}

.btnn{
  background-color: rgb(176, 40, 122);
  border-radius: 10%;
  border: none;
  cursor:pointer;
  position: flex;
 padding: 5px;
 }
 .btnn:hover{
 background-color: rgb(12, 7, 136);
 box-shadow: 10px 10px 10px rgba(25, 173, 199, 0.15) ;
 
 }

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin-bottom: .5rem;
  line-height: 1.2;
}

.fst-italic {
  font-style: italic !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.col-log-4 {
  flex: 0 0 50%; /* Make the image take up half of the row */
}

.img-fluid {
  max-width: 100%;
  height: 200px;
  margin: 90px;
}
img {
  vertical-align: middle;
}
.about{
margin: 96px;

}

 .about-text
{
 flex: 0 0 50%;
 max-width: 100%;


}
 .about-text h3
{
 font-size: 24px;
 margin-bottom:15px ;
 font-weight: 700;
 color: rgb(137, 194, 23);
}

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #63d620;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 1rem;
  padding-left: 2rem;
 
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: yellow;
}

.about-me .content ul strong {
  margin-right: 10px;
  color: rgb(255, 200, 0);
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #56c51e;
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
 

}

.col-lg-3 {
  margin-bottom: 30px;
  flex: 0 0 25%;
  max-width: 25%;
}
.counts .count-box {
  
margin-left: 10px;
margin-right: 10px;
  
  padding: 30px 30px 25px 30px;
  
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  border:3.5px solid black;
}

.counts .count-box i {
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #72f011;
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color:rgb(200, 148, 28);
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: yellow;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;

  padding-right: 65px;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 3s;
  background-color: #7bd218;
 
}


.skills .html
{
  animation:html 1s 1;
}

.skills .php
{
  animation:php 1s 1;
}

.skills .css
{
  animation:css 1s 1;
}

.skills .cms
{
  animation:cms 1s 1;
}

.skills .photoshop
{
  animation:photoshop 1s 1;
}
.skills .js
{
  animation:js 1s 1;
}

@keyframes html{
 from{
    width: 0%;
  }
  to{
    width: 100%;
  }
  
}
@keyframes css{
  from{
     width: 0%;
   }
   to{
     width: 90%;
   }
   
 }
 
 @keyframes js{
  from{
     width: 0%;
   }
   to{
     width: 75%;
   }
   
 }
 
 @keyframes php{
  from{
     width: 0%;
   }
   to{
     width: 80%;
   }
   
 }
 
 @keyframes cms{
  from{
     width: 0%;
   }
   to{
     width: 90%;
   }
   
 }
 
 @keyframes photoshop{
  from{
     width: 0%;
   }
   to{
     width: 55%;
   }
   
 }
 
/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}



.services{

padding: 90px;

   background: #010110;
  
  
  }
  .services{
  

 
  
  
  
  }
  
  .services-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: inherit;
  gap: 1rem;
  padding-left: 70px;
  margin-left: 540px;
  margin-top: 50px;
  }
  
  .services-container .service-box{
    margin-bottom: 30px;
    flex: 0 0 30%;
    
    width: 500px;
  background-color: rgb(41, 42, 44);
  padding: 1rem 1rem 1rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid black;
  transition: .5 ease;
  margin-left: 50px;
  
  
  
  }
  
  .services-container .service-box:hover{
  
  border-color: aqua;
  transform: scale(1.02);
  
  }
  .service-box h3{
  
  font-size: 2rem;
  color: rgb(230, 176, 13);
  }
  
  .service-box  p{
  font-size: 1rem;
  margin: 1rem 0 3rem;
  }
  
  
  
  
  .heading{
  
  text-align: center;
  
  
  }
  
  
  
  .layer .p:hover{
  border-color: rgb(255, 0, 98);
  transform: scale(1.02);
  }
  .layer .s:hover{
  border-color: rgb(255, 0, 98);
  transform: scale(1.02);
  background-color: brown;
  }
  

  .project
  {
  background-color: rgb(1, 13, 8);
  padding-bottom: 100px;
  padding-top: 100px;
  margin: 1rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  
  }
  
  .heading{
  
   color: rgb(182, 110, 9);
  
  
  }
  
  .portfolio{

    margin: 30px;
      }
    
      .portfolio-container{
        display: flex;
    
    align-items: center;
    
    margin-bottom: 30px;
        flex: 0 0 30%;
    max-width: 100%;
      }
    

.portfolio-item {
    width: 0%; /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    text-align: center; /* Optional: Center align the content */
}
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 50px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
    margin-left: 490px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #091013;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 15px;
    
  }
  
  .portfolio .portfolio-wrap .img-fluid{

height: 250px;
width: 400px;
padding: 0px;

margin: 0px;

  }

  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(190, 228, 247, 0.5);
    position: absolute;
    width: 400px;
    height: 100%; /* Adjusted to cover the entire .portfolio-wrap */
    top: 0;
    left: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
    margin-right: 0px;
  }
  
  
  
  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    width: 400px;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    font-size: 28px;
    text-align: center;
    background: rgba(20, 157, 221, 0.75);
    transition: 0.3s;
    width: 50%;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    background: rgba(20, 157, 221, 0.95);
    
  }
  
  .portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 1px solid #37b3ed;
  }
  
  .portfolio .portfolio-wrap:hover::before {
   width: 400px;
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
   
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details .portfolio-info {
    padding: 30px;
    margin: 50px;
    box-shadow: 0px 0 30px rgba(251, 252, 254, 0.151);
    top: 0px;
    right: 0px;
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    color: rgb(255, 196, 0);
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 40px;
    padding-left: 10px;
    margin: 50px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    color: rgb(255, 153, 0);
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  .pic100{

       height: 60%;
       width:60%
       


  }

/*contactttttttttttt*/

.contact
{
  background: rgb(13, 13, 13);
  padding: 95px;
}
.contact-title
{
  color: rgb(129, 200, 62);
  text-align: center;
  font-size: 25px;
  margin: 20px 0px;
  padding: 5px;
}

.contact-sub-title
{
  color: #c0864c;
 
  text-align: center;
  font-size: 15px;
  margin-bottom: 70px;
}
.contact .contact-info-item
{
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon{
  display: inline-block;
}
.contact .contact-info-item .icon .fa
{
  font-size: 25px;
  color: white;

}
.contact .contact-info-item h4
{
  font-size: 18px;
  font-weight: 700;
  color: #c0864c;
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contact-info-item p 
{
  font-size: 16px;
  line-height: 25px;
  color: #505050;
  font-weight: 400;

}

.contact .contact-form
{
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6
{
  flex: 0 0 45%;
  max-width: 100%;
 
}
.contact .contact-form .col-12
{
  flex: 0 0 100%;
  max-width: 100%;
 
}
.contact .contact-form .form-item
{
  margin: 15px 5px;
  
}
.contact .contact-form .form-item .form-control
{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: rgb(150, 152, 154);
  border: 1px solid rgb(84, 91, 98);
  padding: 10px 25px;
  
  font-size: 16px;
  color: #3c3c3c;
  transition: all .3s ease;
}

.contact .contact-form .form-item .form-control:focus
{
  box-shadow: 0 0 20px rgb(48, 46, 77,0.15);
}
.contact .contact-form .form-item textarea.form-control
{
  height: 140px;
}

.contact .contact-form .btn
{
  height: 50px;
  padding: 0 50px;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgb(31, 30, 30);
height: 100px;
}
.footer-text p{
    font-size: 1.6rem;
} 

.footer-iconTop a{
   
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
   background: #92bc43;
   border-radius:  .8rem;
   transition: .5s ease;
   height: 8px;
   width: 50px;

}
.footer-iconTop a:hover{

  box-shadow: 0 0 1rem rgb(78, 84, 91);
}
.footer-iconTop a i{

   font-size: 2.4rem;
   color:#033221;

}

/*BREAKPOINTS*/
@media (max-width: 1200px)
  {   
    html{

     font-size: 75%;


    }

}
@media (max-width: 991px)
  {   
    .header{

     padding: 2rem 3%;


    }
    section{

       padding: 10rem 3% 2rem;
    
    }
    .footer{

      padding: 2rem 3%;
    }
  
}

/* @media(max-width: 768px){
  #menu-icon{

      display: block;

  }
  .navbar{

     position: absolute;
     top: 100%;
     left: 0%;
     width: 100%;
     padding: 1rem 3%;
     background: #033221;
     border-top: .1rem solid rebeccapurple;
     box-shadow: 0 .5rem 1rem rgba(0, 0,0, 2);
     display: none;


  }

  .navbar .active{
        display:block;
  }

  .navbar a{

     display: block;
     font-size: 2rem;
     margin: 3rem 0;

  }

} */

/*contact
.contact__container {
row-gap: 3rem;
}

.contact__information {
display: flex;
margin-bottom: var(--mb-2);
}

.contact__icon {
font-size: 1.5rem;
color: var(--first-color);
margin-right: var(--mb-0-75);
}

.content__title {
font-size: var(--h3-font-size);
font-weight: var(--font-medium);
}

.contact__subtitle {
font-size: var(--small-font-size);
color: var(--text-color-light);
}

.contact__content {
background-color: rgb(223, 181, 181);
border-radius: 0.5rem;
padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
font-size: var(--smaller-font-size);
color: blueviolet;
}

.contact__input {
width: 100%;
background-color:white;
color: bisque;
font-family: var(--body-font);
font-size: var(--normal-font-size);
border: none;
outline: none;
padding: 0.25rem 0.5rem 0.5rem 0;
}
.button--flex {
display: inline-flex;
align-items: center;
transition: 0.3s;
}
<section class="contact section" id="contact">
  <h2 class="section__title">Contact me</h2>
  <span class="section__subtitle">Get in touch</span>

  <div class="contact__container container grid">
      <div>
          <div class="contact__information">
              <i class="uil uil-phone-alt contact__icon"></i>

              <div>
                <i class='bx bxs-phone-call'></i>
                  <h3 class="contact__title">Call me</h3>
                  <span class="contatc__subtitle">01885375902</span>
              </div>
          </div>

          <div class="contact__information">
            

              <div>
                <i class='bx bx-mail-send'></i>
                  <h3 class="contact__title">E-mail</h3>
                  <span class="contatc__subtitle">josephite@gmail.com</span>
              </div>
          </div>

          <div class="contact__information">
              <i class="uil uil-map-marker contact__icon"></i>

              <div>
                <i class='bx bx-location-plus'></i>
                  <h3 class="contact__title">Location</h3>
                  <span class="contatc__subtitle">KUET,DHAKA</span>
              </div>
          </div>
      </div>

      <form action="" class="contact__form grid">
          <div class="contact__inputs grid">
              <div class="contact__content">
                  <label for="" class="contact__label">Name</label>
                  <input type="text" class="contact__input">
              </div>

              <div class="contact__content">
                  <label for="" class="contact__label">E-mail</label>
                  <input type="email" class="contact__input">
              </div>
          </div>

          <div class="contact__content">
              <label for="" class="contact__label">Subject</label>
              <input type="text" class="contact__input">
          </div>

          <div class="contact__content">
              <label for="" class="contact__label">Description</label>
              <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
          </div>

          <div>
              <button class="button--flex">
                  Send message
              </button>
                  <i class="uil uil-message button__icon"></i>
              </a>
          </div>
      </form>
  </div>

</section>
</main>

 


</body>
</html>*/
@media screen and (max-width: 1048px) {
 nav .left{
    font-size: 20px;
    padding-left:60px ;
  }
 nav ul{
    margin-right: 20px;
    
  }
  nav a{
    font-size: 17px;
  }
}
@media screen and (max-width: 990px)
{
  .menu-toggle i{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 130px;
    height: 100vh;
    background:rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    top: 100px;
    right: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

  }
  nav a{
    font-size: 20px;
  }
  a.active,a:hover{
    color: #504e70;
  }
  .nav ul.show{
    right: 0;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}


@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}



@media (max-width:1199px)
{
  .aside
  {
    left: -270px;
  }
  .main-content
  {
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span
  {
    display: block;
    margin-left: 0;
  }
}
@media (max-width:1148px) {

  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item
  {
    flex: 0 0 50%;
    max-width: 50%;
  }
 
  .home .home-info
  {
    max-width: 100%;
    flex: 0 0 100%;
  }
 .img-fluid {
  display: none;
}
}
@media (max-width:815px)
{
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width:771px)
{
  .portfolio .portfolio-item,
  .service .service-item
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width:1184px)
{.about .about-content{
     flex: 0 0 100%;
max-width: 100%;
 }
}

@media (max-width:551px)
{.about .about-content .personal-info .info-item,
  .contact .contact-info-item
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width:441px)
{
  .contact .contact-form .form-item
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}



/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .portfolio .portfolio-item {
      flex:0 0 100%;
      max-width:100%;
  
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .portfolio .portfolio-wrap {
    border-radius: 10px;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .portfolio #portfolio-flters li {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 14px;
  }

  .portfolio .portfolio-item {
    margin-bottom: 20px;
  }

  .portfolio .portfolio-wrap {
    border-radius: 12px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.2);
  }

  .portfolio .portfolio-wrap .portfolio-links a {
    font-size: 22px;
  }
}